<html>
<head>
	<title>Friend Added</title>	
</head>
<body>
	<h1>New Friend Has Been Added</h1>
	<div class="newFriend">
		<img src={{imageURL}} class="img-responsive">
		<h3><a href="#" class="name">{{name}}</a></h3>
		<p>{{description}}</p>
	</div>
	<hr>
	<p>Go back to <a href="/">My HCI Friends</a>.</p>
</body>
</html>